* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0eaea;
}

.block2 {
  width: 30%;
  padding-top: 3.2rem;
  /* margin-left: -20%; */
}

h1 {
  text-align: center;
  padding-top: 50px;
  font-family: "'Gill Sans'", "'Gill Sans MT'", Calibri, "'Trebuchet MS'", sans-serif;
}

.comment {
  font-size: larger;
}

.items {
  text-align: center;
  padding-top: 50px;
  font-family: "'Gill Sans'", "'Gill Sans MT'", Calibri, "'Trebuchet MS'", sans-serif;
}

.unknown {
  color: #ffffffd5;
  background-color: #000;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  gap: 3rem;
}

.one {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: solid 1px #fff;
  /* width: 60%; */
  margin-top: 50px;
}

.two {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.three {
  display: flex;
  margin-bottom: 20px;
  padding-right: 20px;
  gap: 2rem;
  padding-top: 1px;
}

h4 {
  padding-top: 50px;
  padding-left: 20px;
}

h2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}

span {
  padding-left: 20px;
  text-align: left;
  direction: ltr;
}

.gras {
  color: #ffffffd5;
  background-color: black;
  padding-right: 3px 1px 1px 2px;
  border-radius: 50%;
}

.gra {
  color: #ffffffd5;
  background-color: #000;
  padding-top: 3px 3px 4px 3px;
}

.titre {
  padding-top: 10px 0 20px;
}

button {
  justify-content: center;
}

.names {
  width: 23.5rem;
  background-color: #f0f8ff;
  padding-bottom:  20px;
}

.name {
  width: 99%;
}

.left {
  padding-inline: 10px;
}

.droit11 {
  display: flex;
  gap: 1rem;
  border: solid 1px #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.droit11:hover {
  background-color: #ccc;
}

.doit1 {
  display: flex;
  flex-direction: column;
  width: 23.5rem;
  background-color: #fff;
  margin-top: 30px;
  padding-bottom: 10%;
}

.entete {
  background-color: #f1f1f1;
  height: 30px;
  font-size: 1.5rem;
  padding-left: 9px;
  padding-top: 9px;
}

.droit3 {
  display: flex;
  gap: 0.5rem;
  padding-top: 13px;
  padding-left: 9px;
  background-color: #fff;
}

.droit2 {
  display: flex;
  gap: 0.5rem;
  padding-top: 15px;
  padding-left: 9px;
  background-color: #fff;
}

.alone {
  padding-top: 13px;
  padding-left: 9px;
}

.divise {
  background-color: #fff;
}

.block {
  width: 23.5rem;
  height: 13%;
  padding-bottom: 30px;
  margin-top: 30px;
  background-color: #fff;
}

.lone {
  background-color: #000;
  color: #fff;
}

.last {
  padding: 3%;
  background-color: #616161;
  margin-top: 30px;
  gap: 23px;
}

.lasts {
  padding-bottom: 20px;
}
h6{
   font-size: 18px;
   color: rgba(255, 255, 255, 0.779);
}


.but {
  height: 50px;
  width: 90px;
  font-size: 16px;
  background-color: #616161;
  color: #ccc;
}

.but:hover {
  color: #616161;
  background-color: #ccc;
}

.buts {
  height: 50px;
  font-size: 16px;
  width: 90px;
  background-color: #000;
  color: white;
}
.buts:hover {
  background-color:white;
  color: #000;
}

.MORE{
  padding-inline: 10px;
}

.MORE:hover{
  color: #616161ca;
  color: black;
}

.en{
  color: rgba(255, 255, 255, 0.717)
}

.titre {
  padding-left: 20px;
  padding-bottom: 10px;
}